#categoria2{
font-family: 'Chakra Petch', sans-serif;
}

#categoria3{
    font-family: 'Smooch Sans', sans-serif;
}

#index {
      font-family: 'Inter', sans-serif;
}

.motos-swiper {
  padding-bottom: 15px;
}
#index{
  font-family: 'Inter', sans-serif;
}
.motos-swiper .swiper-slide {
  opacity: 0.3;
  transform: scale(0.7);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.motos-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}
#helmet-main {
  transform-origin: center;
}

.group:hover #helmet-main {
  transform: scale(1.4);
}
